.chambres-container {
  background-size: cover;
  background-position: center;
  height: 500px; }

.chambresAnim-appear {
  opacity: 0; }

.chambresAnim-appear.chambresAnim-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in; }

.chambresAnim-enter {
  opacity: 0; }

.chambresAnim-enter.chambresAnim-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in; }

.chambresAnim-leave {
  opacity: 1; }

.chambresAnim-leave.chambresAnim-leave-active {
  opacity: 0;
  transition: opacity 0.8s ease-in; }

.panel-container h1, .panel-container h2 {
  font-family: 'Prata'; }

.panel-container p {
  line-height: 24px; }

.panel-container .intro-rooms {
  margin: 20px auto; }

.panel-container .room-list .room-item {
  margin-bottom: 45px; }

.panel-container .room-list .slick-slider img {
  transition: all 0.2s; }
  .panel-container .room-list .slick-slider img:hover {
    transform: scale(1.1);
    transition: all 0.2s; }

.panel-container .room-list .slick-slider .slick-dots {
  position: relative;
  top: -40px; }

.panel-container .room-list .room-header {
  margin-top: -60px; }
  .panel-container .room-list .room-header .col-md-2:nth-child(1) {
    background-color: white;
    position: relative;
    padding-top: 10px;
    top: 25px;
    font-family: 'Prata';
    font-size: 15px; }
  .panel-container .room-list .room-header .col-md-2:nth-child(2) button {
    height: 70px;
    width: 70px;
    color: white;
    font-size: 30px;
    background-color: red;
    border: 5px solid white; }
    .panel-container .room-list .room-header .col-md-2:nth-child(2) button i {
      transition: all 0.2s; }
    .panel-container .room-list .room-header .col-md-2:nth-child(2) button:hover i {
      transform: rotate(-45deg);
      transition: all 0.2s; }

.panel-container .room-list .title-row {
  border-bottom: 1px solid #E1E5EE;
  margin: 0; }
  .panel-container .room-list .title-row .room-title {
    font-size: 30px;
    padding: 10px 0;
    font-family: 'Prata';
    margin-left: 20px; }

.panel-container .room-list .attr-container {
  border-bottom: 1px solid #E1E5EE;
  padding: 10px 0;
  color: #B5BAC8; }
  .panel-container .room-list .attr-container:last-child {
    border: 0; }
