.weatherAnim-appear {
  opacity: 0; }

.weatherAnim-appear.weatherAnim-appear-active {
  opacity: 1;
  transition: opacity 3s ease-in; }

.weatherAnim-enter {
  opacity: 0; }

.weatherAnim-enter.weatherAnim-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in; }

.title-home span {
  color: white;
  font-weight: 400;
  font-style: italic; }

.title-home h1 {
  font-size: 80px;
  color: white;
  font-family: 'Prata'; }

.text-home {
  margin-top: 10px; }
  .text-home p {
    color: #C7C4C0; }
  @media screen and (min-width: 1200px) {
    .text-home {
      width: 90% !important;
      padding-left: 10% !important; } }

.under-row {
  margin-top: 30px; }
